<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Ajout d'un utilisateur</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form method="get" action="addparcelle">
		<h1>Saisie d'une parcelle</h1>
		<label>Surface :</label><input type="number" step="0.01" id="surface" name="surface"/><Br/>
		<select name="choosenAddress">
  			<option th:each="addr: ${addresses}" th:value="${addr.adresseID}" th:text="${addr.numero}+', rue '+${addr.rue}+' '+${addr.codePostal}+' '+${addr.ville}">Valeur 1</option>
		</select>
        <select name="choosenProprietaire">
            <option th:each="p: ${proprietaires}" th:value="${p.userID}" th:text="${p.nom}+${p.prenom}">Valeur 1</option>
        </select>
        <select name="choosenMaraicher">
            <option th:each="p: ${maraichers}" th:value="${p.userID}" th:text="${p.nom}+${p.prenom}">Valeur 1</option>
        </select>
		<br/>
		<input type='submit' name="envoyer"/>
	</form>

<hr/>

<table>
  <thead>
    <tr>
      <th th:text="Prénom">Prénom</th>
      <th th:text="Nom">Nom</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="prod: ${parcelles}">
      <td th:text="${prod.adresse.rue}">prénom</td>
      <td th:text="${prod.surface}">nom</td>
    </tr>
  </tbody>
</table>
<hr/>
<a href="/" >Retour à l'accueil</a><br/>
  </body>
</html>
